.footer {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;


  .footer__top {
    padding: 40px 0;
  }

  .footer__container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
  }

  .footer__logo {
    flex-shrink: 0;

    &-image {
      height: auto;
      max-width: 100%;
    }
  }

  .footer__contact {
    display: flex;
    justify-content: center;

    &-text {
      display: flex;
      align-items: center;
      gap: 5px;
      text-align: center;
    }

    &-text-white {
      font-family: 'Arial Black', sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
      color: #ffffff;
    }

    &-text-green {
      font-family: 'Arial Black', sans-serif;
      font-weight: 900;
      font-size: 18px;
      line-height: 100%;
      text-transform: uppercase;
      color: #90FF00;
    }
  }

  .footer__socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    order: 2;
    margin: 0px auto;

  }

  .footer__socials-icon-link {
    gap: 34px;
  }

  .footer__socials--contact {
    flex-direction: column;
    gap: 25px;
    margin: 0px auto;
    order: 1;
  }


  .footer__social-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .footer__social-icon {
    height: 37px;
    width: auto;

    &--white {
      height: 16px;
    }
  }

  .footer__social-text {
    font-family: 'JetBrains Mono', monospace;
    color: #ffffff;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }

  .footer__bottom {
    padding: 25px 0;
    background-color: #000000;
    overflow: hidden;
  }

  .footer__marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .footer__marquee-content {
    display: flex;
    align-items: center;
    gap: 30px;
    animation: marquee 30s linear infinite;
    white-space: nowrap;
  }

  .footer__marquee-text {
    height: 14px;
    width: auto;
    opacity: 0.3;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @media (min-width: 768px) {
    .footer__top {
      padding: 50px 0;
    }

    .footer__container {
      padding: 0 30px;
    }

    .footer__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      gap: 40px;
    }

    .footer__socials {
      order: unset;

      &--contact {
        order: unset;
      }
    }

    .footer__contact {
      flex: 1;
      justify-content: center;

      &-text {
        flex-direction: row;
        gap: 10px;
      }

      &-text-white,
      &-text-green {
        font-size: 28px;
      }
    }

    .footer__socials {
      gap: 26px;

      &--contact {
        gap: 20px;
        flex-direction: row;
      }
    }

    .footer__social-link {
      flex-direction: row;
      gap: 16px;
    }

    .footer__social-icon {
      height: 28px;

      &--white {
        height: 31px;
      }
    }

    .footer__social-text {
      font-size: 18px;
    }

    .footer__marquee-content {
      gap: 40px;
    }

    .footer__marquee-text {
      height: 30px;
    }
  }

  @media (min-width: 1200px) {
    .footer__top {
      padding: 60px 0;
    }

    .footer__container {
      padding: 0 35px;
    }

    .footer__content {
      gap: 60px;
    }

    .footer__contact {

      &-text-white,
      &-text-green {
        font-size: 38px;
      }
    }

    .footer__socials {
      gap: 30px;

      &--contact {
        gap: 26px;
      }
    }

    .footer__social-text {
      font-size: 24px;
    }

    .footer__marquee-text {
      height: 36px;
    }
  }

  @media (min-width: 1600px) {
    .footer__content {
      gap: 74px;
    }

    .footer__socials {
      gap: 40px;

      &--contact {
        gap: 30px;
      }
    }
  }
}